<div class="predictive-search__tabpanel focus-inset" id="psearch-{{ type }}" role="tabpanel" tabindex="0" aria-labelledby="psearch-{{ type }}-tab"{% unless forloop.first %} hidden{% endunless %}>
  <ul class="predictive-search__list" role="list">
    {%- for item in items -%}
      <li class="predictive-search__item" role="option">
        <a class="predictive-result flex items-start focus-inset js-search-link" href="{{ item.url }}"{% if settings.preload_links %} data-instant{% endif %}>
          {%- if type == 'products' or type == 'collections' -%}
            {%- liquid
              if type == 'products'
                assign img = item.featured_media.preview_image
              else
                assign img = item.featured_image
              endif
            -%}
            {%- if img != blank -%}
              <div class="predictive-result__media media relative{% if settings.blend_product_images and type == 'products' %} image-blend{% elsif settings.blend_collection_images and type == 'collections' %} image-blend{% endif %}">
                {{ img | image_url: width: 112 | image_tag: loading: 'eager', class: 'predictive-result__media' }}
              </div>
            {%- else -%}
              <div class="predictive-result__media media relative">
                {{ 'image' | placeholder_svg_tag: 'media__placeholder' }}
              </div>
            {%- endif -%}
          {%- elsif group_articles_pages or type == 'articles' -%}
            {%- if item.image != blank -%}
              {{ item.image | image_url: width: 112 | image_tag: loading: 'eager', class: 'predictive-result__media' }}
            {%- else -%}
              <div class="predictive-result__media"></div>
            {%- endif -%}
          {%- endif -%}

          <div class="predictive-result__info flex-auto">
            <h3 class="predictive-result__title h6">{{ item.title }}</h3>
            {%- if type == 'products' -%}
              {%- if settings.predictive_search_show_price -%}
                {% render 'price', product: item %}
              {%- endif -%}
              {%- if settings.predictive_search_show_vendor -%}
                <div class="predictive-result__sub-title text-sm">{{ item.vendor }}</div>
              {%- endif -%}
            {%- elsif type == 'collections' and item.metafields.theme.label != empty -%}
              <div class="predictive-result__sub-title text-sm">
                {{ item.metafields.theme.label }}
              </div>
            {%- elsif item.url contains "/blogs/" -%}
              <div class="predictive-result__sub-title text-sm">
                {{ item.author }} | {{ item.published_at | time_tag: format: 'date' }}
              </div>
            {%- elsif item.url contains "/pages/" and group_articles_pages -%}
              <div class="predictive-result__sub-title">
                {{ 'templates.search.page' | t }}
              </div>
            {%- endif -%}
          </div>
        </a>
      </li>
    {%- endfor -%}
    <li class="predictive-search__item js-submit" role="option">
      <button class="predictive-search__view-all link w-full text-start focus-inset has-ltr-icon js-search-link">
        {{- 'general.search.view_all' | t -}} {% render 'icon-arrow-right' %}
      </button>
    </li>
  </ul>
</div>
